@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Diplomata+SC&family=Merriweather:wght@300&family=Playfair+Display+SC:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #ffffff;
  --icon-color: #acacbe;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #cccccc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}

body {
  background: var(--outgoing-chat-bg);
  background-color: #F0FFFF
}

.report,
.products,
.team {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}


.dark-background {
  background-color:  #121836 ; /* Change this to your desired dark background color */
}

.background-toggle-container {
  position: static;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px;
}
h4{
  color: #3b39da;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  size: 30px;
}
.background-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc; /* Button background color */
  color: #fff; /* Icon color */
  border: none;
  border-radius: 50%;
  width: 40px; /* Button width */
  height: 40px; /* Button height */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.background-toggle-button svg {
  color: #1935d3; /* Set the icon color */
  font-size: 1.5rem; /* Set the icon size */
  transition: color 0.3s ease; /* Add a transition effect to color change */
}

.background-toggle-button:hover svg {
  color: #cccccc; /* Change the color on hover */
}


